@model List<ControleUsersModel>
@{
    ViewData["Title"] = "Controle de usuarios";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo Login</a>
    </div>
    </br>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button class="btn btn-primary btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1 class="display-4">Controle de usuarios</h1>


    <table class="table" id="tableUsers">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ControleUsersModel controleUsuario in Model)
                {
                    <tr>
                        <th scope="row">@controleUsuario.Id</th>
                        <td>@controleUsuario.Name</td>
                        <td>@controleUsuario.Login</td>
                        <td>@controleUsuario.Email</td>                        
                        <td>@controleUsuario.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@controleUsuario.Id" asp-controller="ControleUsuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@controleUsuario.Id" asp-controller="ControleUsuario" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum Usuario encontrado</td></tr>
            }
        </tbody>
    </table>
</div>